<section class="container-fluid">
 <%
      var flash = _.clone(req.flash('err'));
      if (flash.length > 0) { //Check for error existence
      console.log(flash);
 %>
  <ul class="alert alert-success">
    <% Object.keys(flash).forEach(function(err){%>
    <li><%- JSON.stringify(flash[err]) %></li>
    <% }); %>
  </ul>
  <% } %>
<form action="/user/create" method="post" class="form-signin center-block" id="signupform">
  <h2 class="form-signin-heading ">Create an account</h2>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your name" name="username">
    <input type="text" class="form-control" placeholder="Your email" name="email">
    <input type="password" class="form-control" placeholder="Password" name="password" id="password">
    <input type="password" class="form-control" placeholder="Password confirmation" name="confirmation">
  </div>
  
  <div class="form-group ">
  <input type="submit" class="btn btn-lg btn-primary btn-block " value="Create account">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>
  
</form>
</section>
